.containerch{
  padding-top: 13px;
}

.columnHeaders {
    display: flex;
    justify-content: space-between;
    padding: 0px 40px 20px;
    background-color: var(--background-color);
  }
  
  
  .columnh {
    flex: 1;
    font-weight: bold;
    color: var(--text-color);
    font-size: 18px;
    margin-left: 10px;
  }

  .columnh2 {
    flex: 1;
    font-weight: bold;
    color: var(--text-color);
    font-size: 18px;
    margin-left: 75px;
    text-align: center;
  }

  .columnh3 {
    flex: 1;
    font-weight: bold;
    color: var(--text-color);
    font-size: 18px;
    padding-right: 80px;
    text-align:center;
  }
  .subtitle{
    font-weight: bold;
    color: var(--third-color);
    font-size: 20px;
    padding-left: 45px;
  }