.footer {
  background-color: #001f3f;
  color: white;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  margin: 10px;
  min-width: 200px;
}

.columnrs {
  flex: 1;
  margin: 10px;
  min-width: 150px;
}

.heading {
  margin-bottom: 10px;
  font-size: 1.8em;
}

.subheading {
  margin-bottom: 10px;
  font-size: 1.3em;
}

.text {
  margin: 5px 0;
}

.boldText {
  font-weight: bold;
}

.list {
  list-style: none;
  padding: 0;
}

.listItem {
  margin: 5px 0;
}

.link {
  color: #fff;
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
  color: #aaa;
}

.textf {
  color: inherit;
  text-decoration: none;
}

.textf:hover {
  text-decoration: none;
  color: #aaa;
}

.bottom {
  text-align: center;
  border-top: 1px solid #333;
  padding-top: 10px;
  margin-top: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .container {
    flex-direction: column;

  }
  
  .column,
  .columnrs {
    min-width: 100%;

    margin: 10px 0;
  }
  

}

@media (max-width: 480px) {
  .heading {
    font-size: 1.5em;
  }

  .subheading {
    font-size: 1.2em;
  }

  .text {
    font-size: 0.9em;
  }

  .listItem {
    font-size: 0.9em;
  }

  .bottom {
    font-size: 0.9em;
  }
}
