.card {
  border: 1px solid var(--primary-color);
  padding: 20px;
  border-radius: 5px;
  margin: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 140px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selectGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.label {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.selector {
  width: 90%; /* Ajusta el tamaño del select */
  padding: 10px;
  font-size: 16px;
}
.selectorjornada{
  width: 90%; /* Ajusta el tamaño del select */
  padding: 10px;
  font-size: 16px;
}

.predictButton {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 15px 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
 }

.predictButton:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.predictionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.imageContainer {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.prediction {
  font-size: 21px;
  text-align: center;
}

.boldText {
  font-weight: bold;
}

.image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.teamLabel {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  padding-left: 15px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }

  .selector {
    width: 200%; /* Ajusta el tamaño del select */
    margin-bottom: 10px;
  }
  .selectorjornada{
    width: 280%;
  }

  .predictButton {
    width: 90%; /* Ajusta el tamaño del botón */
    padding: 10px 20px;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .card {
    margin: 20px 10px 80px;
    padding: 15px;
  }

  .image {
    width: 120px;
    height: 120px;
  }

  .boldText {
    font-size: 18px;
  }

  .selector {
    width: 200%; /* Ajusta el tamaño del select */
  }
  .selectorjornada{
    width: 270%;
  }
  .predictButton {
    width: 100%; /* Ajusta el tamaño del botón */
    padding: 10px;
  }

  .footer {
    flex-direction: column;
    margin: 10px 0;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .teamLabel,
  .imageWrapper,
  .prediction,
  .predictButton {
    margin-bottom: 10px;
  }

  .imageWrapper,
  .prediction,
  .predictButton,
  .selector {
    width: 100%;
    text-align: center;
  }
}
