.card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  margin-bottom: 90px;
  margin-left: 40px;
  margin-right: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade esta línea */
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.column {
  flex: 1;
  padding: 10px;
}

.columnpc1 {
  padding-left: 25px;
}

.columnv {
  text-align: center;
}

.teamContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date {
  font-size: 16px;
}

.league {
  font-size: 14px;
  color: var(--second-text-color);
}

.vs {
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 10px;
  color: var(--resaltado-color);
}

.logo {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .column {
    width: 100%;
  }
  .teamContainer {
    align-items: flex-start;
    text-align: left;
  }
  .columnpc1,
  .columnv,
  .column {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .card {
    margin-left: 20px;
    margin-right: 20px;
  }
  .row {
    flex-direction: column;
  }
  .column {
    width: 100%;
    margin-bottom: 20px;
  }
  .teamContainer {
    align-items: flex-start;
    text-align: left;
  }
  .columnpc1,
  .columnv,
  .column {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
  }
}
